.bdy {
    background-image: url("img/colorful-wave-with-pink-blue-BG7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* border: 1px dashed red; */
}

.flx {
    margin: 44px auto;
    padding: 7px;
    border: 0;
    border-radius: 17px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgb(0, 0, 0);
}

.c-h3 {
    font-size: 35px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 40px auto 5px auto;
}

form {
    width: 80%;
    margin: 0px auto;
}

.inp {
    width: 95%;
    background-color: #F5F7FA;
    border: 0;
    border-radius: 7px;
    padding: 5px 7px 7px 7px;
}

.inp::placeholder {
    font-size: 10px;
}


.foto {
    background-image: url("img/colorful-wave-with-pink-blue-BG7.jpg");
    background-attachment: fixed;
    background-size: cover;
    border-radius: 17px;
    padding-bottom: 5px;
}

.hqte {
    color: white;
    padding: 15px;
    /* border: 2px solid rgb(255, 0, 0); */
}

.dash {
    margin: -2px;
}

h4 {
    color: white;
    font-size: 40px;
    font-family: "DM Serif Display", serif;
    font-weight: 350;
    font-style: normal;
}

.qt {
    height: 0;
}

a {
    text-decoration: none;
    color: black;
}

.mb-6 {
    margin-bottom: 70px;
}

@media only screen and (min-width: 768px) {
    .qt {
        height: 40%;
    }
}