{% extends "header.html" %}
{% block content %}
<div class='h-container'>
{% for i in hosp %}

<div>
    <a href="">
        <div class="card mt-3" style="width: 18rem; margin:9px;">
            
            <img src="{{i.img.url}}" class="card-img-top" style='height:20;' >
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">{{i.description|truncatechars:50}}</p>
            </div>
          </div>
    </a>
</div>

{% endfor %}
</div>
{% endblock %}