{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <h1>Hydration Calculator</h2>
      <form method="POST" action=''>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Waight</label>
          <input class="form-control" type="float" name='wt' value='{{weight}}' 
          style="border: 2px solid hsl(210, 1.10%, 62.70%) "aria-label="default input example" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Activity level</label>
            <select class="form-select" aria-label="Default select example"
            style="border: 2px solid hsl(210, 1.10%, 62.70%) " name="activity_level" value='{{activity_level}}' required>
                <option hidden disabled>Open this select menu</option>
                
                <option value="Sedentary">Sedentary</option> 
                
                <option value="Active">Active</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if h2o %}
      <h5>{{h2o}}L</h5>
      {% endif %}
    </div>
    <div class='col-md-3'></div>
    </div>
    <script>
      x = document.getElementById("HealthCal")
      sidebarLink = document.querySelectorAll('.sidebar__list a')
      sidebarLink.forEach(l => l.classList.remove('active-link'))
      x.classList.add('active-link')
  </script>
    {% endblock %}