{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<div class='row'>
<div class='col-md-3'></div>
<div class='col-md-6'>
  <h1>Idle Body Weight Calculator</h1>
    <form method="POST" action=''>
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Height</label>
          <input class="form-control" type="float" name='ht' value='{{height}}'
          style="border: 2px solid hsl(210, 1.10%, 62.70%) " aria-label="default input example" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gender</label>
            <select class="form-select" aria-label="Default select example" name="gender"
            style="border: 2px solid hsl(210, 1.10%, 62.70%) " value='{{gender}}' required>
                {% comment %} <option hidden>Open this select</option> {% endcomment %}
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% if '{{ibw}}' %}
    <h5>{{ibw}}</h5>
    {% endif %}
</div>
<div class='col-md-3'></div>
</div>
<script>
  x = document.getElementById("HealthCal")
  sidebarLink = document.querySelectorAll('.sidebar__list a')
  sidebarLink.forEach(l => l.classList.remove('active-link'))
  x.classList.add('active-link')
</script>
{% endblock %}