{% extends "sidebar.html" %}
{% block content %}
{% load static %}
<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 p-4  border mt-5 bg-white' style="border-radius:30px">
      <h1>Basal Metabolic Rate (BMR)</h1>

      <h5><b>Weight: </b>{{weight}}kg</h5>
      <h5><b>Height: </b>{{height}}cm</h5>
      <h5><b>Age: </b>{{age}}years</h5>
      <h5><b>Gender: </b>{{gender}}</h5>
      <h5><b>BMR: </b>{{bmr}}Calories/day</h5>

    </div>
    <div class='col-md-4'></div>
</div>
    <div class='mt-5' align='justify'>
    The basal metabolic rate (BMR) is the amount of energy needed while resting in a temperate 
    environment when the digestive system is inactive. It is the equivalent of figuring out how 
    much gas an idle car consumes while parked. In such a state, energy will be used only to 
    maintain vital organs, which include the heart, brain, kidneys, nervous system, intestines, 
    liver, lungs, sex organs, muscles, and skin. For most people, upwards of ~70% of total energy 
    (calories) burned each day is due to upkeep. Physical activity makes up ~20% of expenditure 
    and ~10% is used for the digestion of food, also known as thermogenesis.
    <br>
    The BMR is measured under very restrictive circumstances while awake. An accurate BMR 
    measurement requires that a person's sympathetic nervous system is inactive, which means the 
    person must be completely rested. Basal metabolism is usually the largest component of a 
    person's total caloric needs. The daily caloric need is the BMR value multiplied by a factor 
    with a value between 1.2 and 1.9, depending on activity level you can either calculate it on <a href='{% url "CalorieIntake" %}'>Calorie Intake</a>.
    <br>
    In most situations, the BMR is estimated with equations summarized from statistical data. 
    The Harris-Benedict Equation was one of the earliest equations introduced. It was revised in 1984 
    to be more accurate and was used up until 1990, when the Mifflin-St Jeor Equation was introduced. 
    The Mifflin-St Jeor Equation has been shown to be more accurate than the revised Harris-Benedict 
    Equation. The Katch-McArdle Formula is slightly different in that it calculates resting daily energy 
    expenditure (RDEE), which takes lean body mass into account, something that neither the Mifflin-St Jeor 
    nor the Harris-Benedict Equation does. Of these equations, the Mifflin-St Jeor Equation is considered the 
    most accurate equation for calculating BMR with the exception that the Katch-McArdle Formula can be more  
    accurate for people who are leaner and know their body fat percentage.
    </div>
    <script>
      x = document.getElementById("HealthCal")
      sidebarLink = document.querySelectorAll('.sidebar__list a')
      sidebarLink.forEach(l => l.classList.remove('active-link'))
      x.classList.add('active-link')
  </script>
    {% endblock %}